# Q1 :

In [1]:
name=input('enter name')
degree=int(input('enter you degree'))
department=input('enter your Department')
if degree<=100 and degree>= 85:
    print('Hello ',name ,', your department is', department ,'and your degree is Excellent')
elif degree<85 and degree>= 75:
    print('Hello ',name ,', your department is', department ,'and your degree is Very Good')
elif degree<75 and degree>= 65:
    print('Hello ',name ,', your department is', department ,'and your degree is Good')
else:
    print('Hello ',name ,', your department is', department ,'and your degree is Pass')

enter nameMostafa
enter you degree60
enter your DepartmentBio
Hello  Mostafa , your department is Bio and your degree is Pass

# Q2 :

In [2]:
name=input('enter name')
weight=float(input('enter weight'))
Height=float(input('enter your Height'))
bmi = (weight/ (Height * Height))
print(f"You BMI is {bmi}")
if bmi <= 18.5:
    print("You are underweight.")
elif 18.5 < bmi <= 24.9:
    print("Your weight is normal.")
elif 25 < bmi <= 29.29:
    print("You are overweight.")
else:
    print("You are obese.")

enter nameMostafa
enter weight80
enter your Height170
You BMI is 0.002768166089965398
You are underweight.

# Q3 :

In [3]:
import pandas as pd 
df=pd.DataFrame({
    'col1':['A','B','D','E','F','C'],
    'col2':[2,1,9,8,7,4],
    'col3':[0,1,9,4,2,3]
})
df

  col1  col2  col3
0    A     2     0
1    B     1     1
2    D     9     9
3    E     8     4
4    F     7     2
5    C     4     3

In [4]:
df.sample(frac = 0.5)

  col1  col2  col3
3    E     8     4
5    C     4     3
2    D     9     9

In [5]:
sort=df.sort_values(by='col1', ascending=False, na_position='first')
sort

  col1  col2  col3
4    F     7     2
3    E     8     4
2    D     9     9
5    C     4     3
1    B     1     1
0    A     2     0

In [6]:
rslt_df = df[df['col2'] >=7] 
rslt_df

  col1  col2  col3
2    D     9     9
3    E     8     4
4    F     7     2

In [7]:
df.head(3)

  col1  col2  col3
0    A     2     0
1    B     1     1
2    D     9     9

In [8]:
df.query('col2 >=7')

  col1  col2  col3
2    D     9     9
3    E     8     4
4    F     7     2